body {
    background-color: yellow;
    border: 2px solid black;


}

.karkas {
    border: 1px solid rgb(44, 41, 41);
    margin: 2px;
    background-color: rgb(255, 225, 0);
}

header {
    display: flex;
    border: 1px solid green;
    background-color: aqua;
    margin: 5px;
}

.logo {

    height: 70px;
}

.menu {
    display: flex;

    margin: auto;

}

.elemmenu {
    list-style: none;
    text-decoration: none;
    margin: 10px;
    padding: 0;


}

a {
    text-decoration: none;
}

.content {
    height: 400px;
    border: 1px solid green;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: brown;

}

.menu_left {
    width: 300px;
    border: 1px solid red;
    margin: 3px;
    align-items: center;
    background-color: bisque;

}

.list-block {
    display:flex;
}


.centr {
    width: 600px;
    margin: 5px 50px;
    border: 1px solid brown;

}

.centr_header {
    background-color: yellow;
    margin: 5px;
    border: 1px solid red;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centr_article {
    background-color: yellowgreen;
    margin: 5px;
    border: 1px solid red;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centr_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: royalblue;
    border: 1px solid red;
    margin: 5px;
}

.right {
    width: 300px;
    border: 1px solid red;
    margin: 3px;
    background-color: chocolate;


}

.aside_text {

    font-size: large;
    color: darkblue;
    text-align: center;


}

.text_right {
    text-align: justify;
    padding: 2px;
    color: antiquewhite;

}

.footer {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    height: 100px;
    margin: 5px;
    background-color: aqua;
    align-items: center;
}